<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShavaCloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <h1>Сделай свою шавуху!</h1>
    <img class="main" th:src="@{/images/ShavaCloudV2.png}">
    <form method="POST" th:object="${shava}">
        <span class="validationError"
              th:if="${#fields.hasErrors('ingredients')}"
              th:errors="*{ingredients}">Ingredients Error</span>
        <div class="grid">
            <div class="ingredient-group" id="wraps">
                <h3>Выбери обёртку:</h3>
                <div th:each="ingredient : ${wrap}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span>
                </div>
            </div>
            <div class="ingredient-group" id="proteins">
                <h3>Какое мяско добавить:</h3>
                <div th:each="ingredient : ${protein}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span>
                </div>
            </div>
            <div class="ingredient-group" id="cheeses">
                <h3>Сыр:</h3>
                <div th:each="ingredient : ${cheese}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span>
                </div>
            </div>
            <div class="ingredient-group" id="veggies">
                <h3>Определись с овощами:</h3>
                <div th:each="ingredient : ${veggies}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span>
                </div>
            </div>
            <div class="ingredient-group" id="sauce">
                <h3>Выбери соус:</h3>
                <div th:each="ingredient : ${sauce}">
                    <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span>
                </div>
            </div>
        </div>
        <div>
            <h3>Дай имя своему шаурмешному созанию:</h3>
            <input type="text" th:field="*{name}"/>
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">Name Error</span>
            <br>
            <button>Перейти к оформлению</button>
        </div>
    </form>
</body>
</html>